<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Research on the Acoustic Field</title>
    <link rel="stylesheet" href="css/styles.css">
    <style type="text/css" media="screen">
        li.noList {
            /* Remove bullets list-style-type: none;   */
            list-style: none;
            /* padding: 0;  Remove padding */
            /* margin: 0;  Remove margins */
        }
    </style>
</head>
<body>

  <a href="../bio/index.html">Author Bio</a>

  <h1>An Essay Concerning Research of the Acoustic Field</h1>
  <h4>Table of Contents</h4>
  <ul>     
      
    <li class="noList"><b><u>PART I - The Acoustic Field </u></b></li>
      <br>
      
      <li class="noList"><b>The Mathematics of Sound</b></li>
      <br>

        <li><a href="">Introduction</a></li>
        <li><a href="">Numbers</a></li>
        <li><a href="">The Calculus</a></li>
        <li><a href="">Differential Equations</a></li>
        <li><a href="">Probability and Statistics</a></li>
        <li><a href="">Wave & Chaos Theory</a></li>
        <br>
      
      <li class="noList"><b>The Physics of Sound</b></li>
      <br>

        <li><a href="">Introduction</a></li>
        <li><a href="">1st</a></li>
        <li><a href="">2nd</a></li>
        <li><a href="">3rd</a></li>
        <br>

      <li class="noList"><b>The Harmony of the Spheres</b></li>
      <br>
      
        <li><a href="">Introduction</a></li>
        <li><a href="">1st</a></li>
        <li><a href="">2nd</a></li>
        <li><a href="">3rd</a></li>
        <br>
      
        <li class="noList"><b><u>PART II - ENERGY IN THE UNIVERSE</u></b></li>
      <br>
      
        <li class="noList"><b>The Basics of Energy</b></li>
      <br>

        <li><a href="">Introduction</a></li>
        <li><a href="">1st</a></li>
        <li><a href="">2nd</a></li>
        <li><a href="">3rd</a></li>
        <br>
      
        <li class="noList"><b>Understanding Energy through the lens of Relativity</b></li>
      <br>

        <li><a href="">Introduction</a></li>
        <li><a href="">1st</a></li>
        <li><a href="">2nd</a></li>
        <li><a href="">3rd</a></li>
        <br>
      
        <li class="noList"><b>Understanding Energy through the lens of Quantum Mechanics</b></li>
      <br>

        <li><a href="">Introduction</a></li>
        <li><a href="">1st</a></li>
        <li><a href="">2nd</a></li>
        <li><a href="">3rd</a></li>
        <br>
      
      
      
        <li class="noList"><b>PART III - IN SEARCH OF A FUNDAMENTAL FREQUENCY </b></li>
      <br>

      <li class="noList"><b>Vibrational Frequencies in Hertz under Centrifugal Forces</b></li>
      <br>
        <li><a href="">Introduction</a></li>
        <li><a href="">1st</a></li>
        <li><a href="">2nd</a></li>
        <li><a href="">3rd</a></li>
        <br>

    <li class="noList"><b>Vibrational Frequencies in Biology</b></li>
      <br>
        <li><a href="">Introduction</a></li>
        <li><a href="">1st</a></li>
        <li><a href="">2nd</a></li>
        <li><a href="">3rd</a></li>
        <br>

    <li class="noList"><b>deBroglie Theory: All matter is wave</b></li>
      <br>
        <li><a href="">Introduction</a></li>
        <li><a href="">1st</a></li>
        <li><a href="">2nd</a></li>
        <li><a href="">3rd</a></li>
        <br>

      
      
      
      

  </ul>



</body>
</html>
